body {
  background: #1b1b1b;
  font-family: 'Courier New', monospace;
  color: white;
  text-align: center;
}

.retro-title {
  font-size: 42px;
  color: #33ff66;
  text-shadow: 3px 3px #006622;
  margin-top: 40px;
}

#stageSelect {
  margin-top: 50px;
}

#stageButtons button {
  display: block;
  width: 200px;
  margin: 12px auto;
  padding: 12px 20px;
  
  background: #222;
  border: 4px solid #33ff66;
  color: #33ff66;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Courier New', monospace;
  transition: 0.1s;
}

#stageButtons button:hover {
  background: #33ff66;
  color: #111;
}

.locked {
  background: #444 !important;
  border: 4px solid #777 !important;
  color: #777 !important;
  cursor: not-allowed !important;
}

canvas {
  border: 6px solid #33ff66;
  image-rendering: pixelated;
  margin-top: 20px;
}
